@use './../base/mixins' as m;
@use './../base/variables' as v;

.contenedor-slider {
    display: flex;
	justify-content: center;
	align-items: center;
}

.slider
{ @include m.tablet {
	margin-top:13rem;
}
    margin-top: 24rem;
	position: relative;
	top: 0;
	left: 0;
	width: 80%;
    height: 50rem;
    margin-left: auto;
    margin-right: auto;
	overflow: hidden;
}

.image1, 
.image2 
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.image1 
{
	background-image: url('../../../img/whirly.jpg');
}

.image2 
{
	background-image: url('../../../img/manza-nico2.JPG');
	background-position: top;
	left: 50%;
	border-left: 3px solid #111;
}