//Tipografia
$fuente_principal: 'Montserrat', sans-serif;


// Colores
$rojo :#F53756;
$amarillo: #FEF460;
$verde: #4CB8B3;
$morado: #752F97;
$blanco: #FFFFFF;
$negro: #000;
$rosa: rgb(250, 87, 150);
$gris: rgb(88, 88, 88);


//Tamaños de Media Queries

$telefono: 375px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;


//Tipografias

$titulos:'Montserrat', sans-serif;
$enlaces:'Heebo', sans-serif;